.newsletter input,
.newsletter button {
  font: inherit;
  padding: 0.2rem 1rem;
  border-radius: 0;
  border: none;
}

.newsletter button {
  border-top-right-radius: 0px;
  border-bottom-right-radius: 0px;
  cursor: pointer;
}

.newsletter button:hover {
  background-color: var(--color-primary-300);
  color: var(--color-gray-800);
}