@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@400;700&display=swap');

* {
  box-sizing: border-box;
}

html {
  font-family: 'Noto Sans JP', sans-serif;
}

body {
  margin: 0;
  background-color: #282727;
}

button {
  font: inherit;
  cursor: pointer;
  padding: 0.5rem 1.5rem;
  border-radius: 6px;
  background-color: transparent;
  color: rgb(36, 105, 112);
  border: 1px solid #255d61;
}

button:hover,
button:active {
  background-color: #255d61;
  border: 2px solid #cce0e2;
 
  color: white;
}