@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&family=Rubik:ital,wght@0,300..900;1,300..900&display=swap');

* {
  box-sizing: border-box;
}

html {
  font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

body {
  margin: 0;
  padding: 0;
  background-color: #fdfdfd; /* Near white */
  color: #353331; /* Neutral gray for text */
}

#main-header {
  text-align: center;
  background-color: #b0a5d2; /* Soft lavender */
  color: #d2cdc6; /* Light gray */
  padding: 3rem;
}

h1 {
  font-size: 3rem;
  font-family: 'Rubik', sans-serif;
  color: #0d5d4d; /* Pastel mint */
  text-transform: uppercase;
  margin: 0 0 0.5rem 0;
}

#main-header p {
  max-width: 25rem;
  color:white;
  margin: 0 auto;
}

main {
  max-width: 50rem;
  margin: 3rem auto;
  padding: 2rem;
  border-left: 1px solid #353331;
  border-right: 1px solid #353331;
}

#new-opinion {
  background-color: #b0a5d2; /* Soft lavender */
  color: #f9f7f3;
  padding: 2rem;
  border-radius: 8px;
  box-shadow: 0 0 16px 1px rgba(26, 3, 48, 0.8);
}

#new-opinion h2 {
  color: #3f2404; 
  margin: 0;
}

.control-row {
  display: flex;
  gap: 1rem;
}

.control-row .control {
  flex: 1;
}

form label {
  display: block;
  margin-bottom: 0.15rem;
  font-family: 'Rubik', sans-serif;
  font-size: 0.85rem;
  font-weight: bold;
  color: #714201;
}

form input,
form textarea {
  display: block;
  font: inherit;
  width: 100%;
  padding: 0.5rem;
  font-family: 'Rubik', sans-serif;
  border-radius: 4px;
  border: 1px solid #1c1106;
  background-color: #c6ebe4; 
  color: #3f2404; 
}

.actions {
  display: flex;
  justify-content:flex-end;
  gap: 1rem;
}

form button {
  font: inherit;
  padding: 0.3rem 0.5rem;
  font-size: 1.1rem;
  font-family: 'Rubik', sans-serif;
  background-color: #0d5d4d; /* Mint */
  color: white;
  border: 2px solid #ffffff;
  border-radius: 6px;
  cursor:auto;
}

form button:disabled,
form button:disabled:hover {
  background-color: #869999;
  border-color: #869999;
  cursor: not-allowed;
}

form button:hover {
  background-color: #052821; /* Slightly deeper mint */
  border-color: white;
}

.errors {
  list-style: none;
  color: #fcc586; /* Soft yellow */
  font-size: 0.85rem;
  padding: 0;
  margin-top: 0.5rem;
}

#opinions ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

#opinions li {
  margin: 1rem 0;
  padding: 1rem;
  border-radius: 4px;
  background-color: #c6ebe4; 
}

#opinions h3 {
  font-family: 'Rubik', sans-serif;
  margin: 0;
  font-size: 1.5rem;
}

#opinions header p {
  margin: 0;
  color: #714201;
  font-size: 0.9rem;
}

#opinions p {
  font-size: 1.3rem;
}

.votes {
  display: flex;
  gap: 0.5rem;
  margin: 0;
  align-items: center;
}

.votes span {
  display: inline-block;
  margin-bottom: 0.25rem;
  font-size: 1rem;
  color: #0d5d4d; /* Warm orange */
  font-weight: bold;
}

.votes button {
  padding: 0;
  color: #0d5d4d;
  cursor: pointer;
  background-color: transparent;
  border: none;
}

.votes button:hover {
  background-color: transparent;
  border: none;
  color: #052821; 
}

.votes button:disabled,
.votes button:disabled:hover {
  color: #c2af93;
  background-color: transparent;
  border: none;
  cursor: not-allowed;
}
